movie/data/*
titanic/input/* 
quora/train.csv/* 
quora/test.csv/* 
.ipynb_checkpoints/* 
.idea/* 
movie/.vector_cache/*
movie/deep_playground.ipynb 
movie/deep_playground_second.ipynb 
movie/intro_to_pytorch.ipynb 
movie/playground.ipynb 
